@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family:'Roboto', sans-serif;
}


.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(nature.jpg);
    width: 100%;
    max-height: 390vh;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 1%;
    padding-top:7vh;
    padding-bottom: 3vh;
}
.allcontainer{
    display: flex;
}
.ccontainer{
    max-width: 100%;
    min-width: 60%;
    max-height: 390vh;
}
.logo{
    cursor: pointer;
    width: auto;
    height: auto;
    margin-right: 460px;
}
.navbar{
    display: flex;
    align-items: center;
    height: 10%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 3px;
}
nav ul li a::after{
    content: "";
    position: absolute;
    background-color: rgb(245, 236, 236);
    height: 3px;
    width: 0;
    left: 50%;
    top: 100%;
    transition: 0.3s;
}
nav ul li a:hover{
    color: rgba(231, 240, 252, 0.993);
}
nav ul li a:hover::after{
    left: 0;
    width: 100%;
}

.journal{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14.4608px;
line-height: 18px;
letter-spacing: -0.075em;
height: 16px;
margin-left: 5px;
color: #FFFFFF;
}

.worldpic{
    width: 24px;
height: 24px;
background: #FFFFFF;
}

.card{
    display: flex;
    width: 100%;
height: 188px;
margin: 36px 0px 56px 0px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 168px;
}

.photo{
    width: 166px;
height: 188px;
margin-left: 10px;
border-radius: 5%;
}
.taste{
    display: flex;
    flex-direction:row ;
    margin-top: 20px;
}

.map{
    width: 15px;
height: 15px;
margin-left: 20px;
margin-top: 3px;
}
.bin{
    width: 15px;
height: 15px;
margin-left: 150px;
margin-top: 3px;
}


.cost{
    width:  fit-content;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;

margin-left: 22px;
margin-top: 20px;
margin-right: 8px;
color: white;
}

.google{
    width:  fit-content;

margin-top: 9px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 12px;
text-decoration-line: underline;
color: white;
}
.remove{
    display: flex;
}
.removetxt{
   margin-top: 5px;
   margin-left: 5px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
text-decoration-line:none;
line-height: 12px;
color: white;
}


.title{
    width:  100%;
height: 33px;
margin-left: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
margin-top: 5px;
text-shadow: 0 0 5px #999;
    color: white;
}

.date{
    width:  fit-content;
height: 11px;
margin-left: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;
margin-top: 15px;
color: #2B283A;
}

.content{
width:  fit-content;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
margin-left: 20px;
margin-top: 10px;
color: #2B283A;
}

.line{
    background: #FFFFFF;
opacity: 0.3;
width:auto;
border: 1px solid #FFFFFF;
align-self: center;
margin-left: 1%;
margin-right: 10%;
margin-top: 8px;
}
.footer{
    width: 100%;
    height: 490px;
    background: #000000;
}
.fcontent{
    font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 59px;
padding-top: 20px;
text-align: center;
color: #FFFFFF;
}
.feedback{
    margin-top: 10px;
    margin-left: 33%;
    width: 500px;
    height: 200px;
    text-align: left;
}
.fbutton{
    background: #0081FE;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.11);
border-radius: 30px;
color: white;
margin-left: 45%;
margin-top: 15px;
}
.ftext{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */
text-align: center;
/* White */
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;
}
.fline{
    background: #FFFFFF;
opacity: 0.3;
border: 1px solid #FFFFFF;
align-self: center;
margin-left: 5%;
margin-right: 5%;
margin-top: 8px;
}
.flogo{
    margin-left: 80px;
    margin-top: 20px;
    margin-right:30px ;
}
.ftxt{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 100px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.outer{
    margin-right: 180px;
    margin-left: 290px;
    display: flex;
    flex-wrap: nowrap;
}
.last{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
.linkedin{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-right: 25px;
}
.instagram{
    height: 35px;
    width: 35px;
    margin-top: 15px;
    margin-right: 25px;
}
.facebook{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 25px;
}
.youtube{
    height: 55px;
    width: 55px;
    margin-top: 15px;
    margin-right: 25px;
}
.partners{
    width: 100%;
    height: 100%;
}
button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart{
    background: #2e4dfc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}
.cart i{
    position: absolute;
    margin-left: 90px;
    column-fill: transparent;
    transition: 400ms;
    color: transparent;
}
.cart span{
    transition: 400ms;
}
.cart:hover span{
    margin-right: 30px;
}
.cart:hover i{
    margin-left: 75px;
    column-fill: white;
    color: rgb(255, 255, 255);
}
button:focus{
    outline: none;
}
.checkout{
    height: 67vh;
    width: 500px;
   
    margin-top: 30px;
}
.booking{
    width:  fit-content;
height: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 12px;
letter-spacing: 0.17em;
margin-left: 22px;
margin-top: 40px;
margin-right: 8px;
color: white;
}
.cline{
    background: #FFFFFF;
opacity: 0.3;
width:auto;
border: 1px solid #FFFFFF;
align-self: center;
margin-left: 3.5%;
margin-right: 2%;
margin-top: 18px;
}
.checkcontent{
    display: flex;
    justify-content: space-between ;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 12px;
    letter-spacing: 0.17em;
    margin-left: 22px;
    margin-top: 50px;
    margin-right: 8px;
    margin-bottom: 35px;
    color: white;
}
.checkpackage{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.checkcost{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.checktotal{
    display: flex;
    justify-content: space-between ;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 12px;
    letter-spacing: 0.17em;
    margin-left: 22px;
    margin-top: 30px;
    margin-right: 8px;
    margin-bottom: 35px;
    color: white;
}
.checkbtn{
    display: flex;
    height: 40px;
    width: 470px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    background-color: #0081FE;
    margin-left: 30px;
}
.subtotal{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.total{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.bookingtxt{
    color: #FFFFFF;
    margin-top: 100px;
    margin-left: 50px;
}
.table-responsive{
    color: #FFFFFF;
    margin-top: 80px;
}










table {
    font-family: Mukta, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  color: #FFFFFF;
  text-align: left;
  overflow: hidden;
  margin-top: 70px;
  margin-left: 180px;
}
thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }

  a {
    text-decoration: none;
    color: #2962ff;
  }

  .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
  }
  

  .amount {
    text-align: right;
  }

  
